.tip{
    width: 29%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%) ;
    font-family: 'Space Mono';
    color: white;
    text-align: center;
    font-size: 15px;
}

button.tip:focus{
    background-color: hsl(172, 67%, 45%) ;
}

button.tip:hover{
    background-color: hsl(172, 67%, 45%);
}
